{% extends 'base.html' %}
{% block title %} <title> About Us</title> {% endblock %}
{% block content %}

<!--About Section-->
<section class="about" id="about">
    <div class="title">
        <h2 class="titetext">ABOUT US</h2>
    </div>
    <div class="imgtext">
        <img src="https://i.postimg.cc/G2v0JHVQ/pexels-blue-bird-7210284.jpg" alt="">
        <div class="info">
            <div class="infocontent">
                <h3>Why Choose ePet? <br>INGREDIENTS</h3>
                <p>"Find Your Dream Pet: Browse a wide variety of adoptable pets from trusted breeders and reputable shelters. Search by species, breed, age, size, and personality traits to discover your perfect match.."</p>
            </div>
            <div class="infocontent">
                <h3>MORE ABOUT US</h3>
                <p>"In E-Pet Store you can find a delightful array of furry, feathered, and friendly companions waiting to bring joy into your life. From playful puppies to majestic kittens, charming goats to gentle cows, we offer a diverse selection of animals to suit every lifestyle and preference. Our mission is to connect loving homes with beloved pets, ensuring that each animal finds its perfect match.."</p>
            </div>
         
        </div>
    </div>
</section>
{% endblock %}
